@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes
@{
    //logo path
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/images/logo.png";

    //store name
    var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
}
<link rel='stylesheet' id='redux-google-fonts-unf_options-css' href='http://fonts.googleapis.com/css?family=Lato%3A100%2C300%2C400%2C700%2C900%2C100italic%2C300italic%2C400italic%2C700italic%2C900italic%7CRancho%3A400&#038;subset=latin' type='text/css' media='all' />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script src="~/Scripts/ng/ngDialog.js"></script>
<link rel="stylesheet" href="/Themes/DefaultClean/Content/css/bootstrap-dropdownhover.min.css" type='text/css' media='all' / >
<div class="header" id="header">
    @Html.Widget("header")
    <nav class="hidden-xs">
        <div class="header-upper">
            <div class="header-links-wrapper" style="width:100%;">
                @Html.Action("HeaderLinks", "Common")
                @*@Html.Action("FlyoutBorrowCart", "BorrowCart")*@

            </div>

        </div>

        </nav>
        <div class="logo">
            <a href="@Url.RouteUrl("HomePage")">
                <img title="" alt="@storeName" src="@Url.Content(logoPath)">
            </a>
        </div>
</div>
