@model ManufacturerNavigationModel
@using Nop.Web.Models.Catalog;
@if (Model.Manufacturers.Count > 0)
{
    <div class="block block-category-navigation widget woocommerce widget_product_categories shoppagewidget orange" style="padding: 40px; border-radius: 10px; margin-bottom: 40px; background-color: white !important; background-image: none !important;">
        <div class="widgetnails"></div>
        <h3 class="widget-title">
            <strong>@T("Manufacturers")</strong>
        </h3>
        <div class="listbox">
            <ul class="list">
                @foreach (var manufacturer in Model.Manufacturers)
                {
                    <li class="@(manufacturer.IsActive ? "active" : "inactive")">
                        <a href="@Url.RouteUrl("Manufacturer", new { SeName = manufacturer.SeName })">@manufacturer.Name</a>
                    </li>
                }
            </ul>
            @if (Model.TotalManufacturers > Model.Manufacturers.Count)
            {
                <div class="view-all">
                    <a href="@Url.RouteUrl("ManufacturerList")">@T("Manufacturers.ViewAll")</a>
                </div>
            }
        </div>
    </div>


}