@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Common;

<link href="~/Themes/DefaultClean/Content/css/fontello.css" rel="stylesheet" />
<div class="footer newlandscape clearfix" >
    <div class="footer-upper" style="width:100% !important;">
        <div class="onleft">
            <div class="billboard">
                <div class="billboard-content">
                    <h3>@T("Footer.FollowUs")</h3>
                    <div class="mc4wp-form-fields" style="text-align:center">
                        <p>
                            <!--<label>Email address: </label>
            <input type="email" id="mc4wp_email" name="EMAIL" placeholder="Your email address" required />
            <div class="socialnav">-->
                            <a class="icon-facebook" href="@Model.FacebookLink" target="_blank" rel="me" style="font-size: 25px"></a>
                            <a class="icon-gplus" href="@Model.GooglePlusLink" target="_blank" rel="me" style="font-size: 25px"></a>
                            <a class="icon-twitter" href="@Model.TwitterLink" target="_blank" rel="me" style="font-size: 25px"></a>

                            <a class="icon-linkedin" href="@Model.FacebookLink" target="_blank" rel="me" style="font-size: 25px"></a>
                            <a class="icon-youtube-play" href="@Model.YoutubeLink" target="_blank" rel="me" style="font-size: 25px"></a>

                        </p>
                    </div>

                     
                </div>
            </div>
             
            
        </div>
        <div class="onright">
             
             
            
        </div>



    </div>
    <div class="footer-lower footer-wrap" style="width:100% !important;">
        <div class="footer-info">
            <div class="column">
                <ul id="menu-footer-menu" class="footer-menu nav navbar-nav navbar-right footernav">
                    <li id="menu-item-349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-349">
                        <a href="@Url.RouteUrl("Topic", new { SeName = "terms-and-conditions" })">Terms &amp; Conditions</a>
                    </li>
                    <li id="menu-item-350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-350">
                        <a href="@Url.RouteUrl("Topic", new { SeName = "disclaimer" })">Disclaimer</a></li>
                    <li id="menu-item-351" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-351">
                        <a href="@Url.RouteUrl("Topic", new { SeName = "privacy-policy" })">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        @if (!Model.HidePoweredByNopCommerce)
        {
    <div class="footer-powered-by copyrightbox">
        <span class="footer-disclaimer">@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</span>
        @if (Model.DisplayTaxShippingInfoFooter)
        {
            var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
            <span class="footer-tax-shipping">
                @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
            </span>
        }

    </div>
        }
        @Html.Action("StoreThemeSelector", "Common")
    </div>
    @Html.Widget("footer")
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.footer-block .title').click(function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 769) {
                $(this).siblings('.list').slideToggle('slow');
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.block .title').click(function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 1001) {
                $(this).siblings('.listbox').slideToggle('slow');
            }
        });
    });
</script>