@model SubscriptionCartModel.GiftCardBoxModel
@using Nop.Web.Models.SubscriptionCart;
@if (Model.Display)
{
    <div class="giftcard-box">
        <div class="title">
            <strong>@T("SubscriptionCart.GiftCardCouponCode")</strong>
        </div>
        <div class="hint">@T("SubscriptionCart.GiftCardCouponCode.Tooltip")</div>
        <div class="coupon-code">
            <input name="giftcardcouponcode" id="giftcardcouponcode" type="text" class="gift-card-coupon-code" />
            <input type="button" style="padding: 0px 20px 10px;" name="applygiftcardcouponcode" id="applygiftcardcouponcode" value="@T("SubscriptionCart.GiftCardCouponCode.Button")" class="apply-gift-card-coupon-code-button" />
        </div>
        @if (!String.IsNullOrEmpty(Model.Message))
        {
            <div class="@(Model.IsApplied ? "message-success" : "message-failure")">
                @Model.Message
            </div>
        }
    </div>
}


<script>
    $(function () {
        var waitingDialog = waitingDialog || (function ($) {
            'use strict';

            // Creating modal dialog's DOM
            var $dialog = $(
                '<div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">' +
                '<div class="modal-dialog modal-m">' +
                '<div class="modal-content">' +
                    '<div class="modal-header"><h3 style="margin:0;"></h3></div>' +
                    '<div class="modal-body">' +
                        '<div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>' +
                    '</div>' +
                '</div></div></div>');

            return {

                show: function (message, options) {
                    // Assigning defaults
                    if (typeof options === 'undefined') {
                        options = {};
                    }
                    if (typeof message === 'undefined') {
                        message = 'Loading';
                    }
                    var settings = $.extend({
                        dialogSize: 'm',
                        progressType: '',
                        onHide: null // This callback runs after the dialog was hidden
                    }, options);

                    // Configuring dialog
                    $dialog.find('.modal-dialog').attr('class', 'modal-dialog').addClass('modal-' + settings.dialogSize);
                    $dialog.find('.progress-bar').attr('class', 'progress-bar');
                    if (settings.progressType) {
                        $dialog.find('.progress-bar').addClass('progress-bar-' + settings.progressType);
                    }
                    $dialog.find('h3').text(message);
                    // Adding callbacks
                    if (typeof settings.onHide === 'function') {
                        $dialog.off('hidden.bs.modal').on('hidden.bs.modal', function (e) {
                            settings.onHide.call($dialog);
                        });
                    }
                    // Opening dialog
                    $dialog.modal();
                },
                /**
                 * Closes dialog
                 */
                hide: function () {
                    $dialog.modal('hide');
                }
            };

        })(jQuery);
        $("#applygiftcardcouponcode").click(function () {
            var form1 = $("#confirm-order-form");
            var formCollection = form1.serialize();
            var prop = $(this).attr('data-prop');
            // console.log(prop);
            waitingDialog.show();
            $.ajax({
                type: 'POST',
                url: 'ApplyGiftCard',
                data: { "giftcardcouponcode": $("#giftcardcouponcode").val(), form: formCollection },
                cache: false,
                success: function (data) {
                    //  console.log(data);
                    if (data.success == 1) {
                        window.location.reload(true);
                    }   else {
                        if (data.message.length > 0) {
                            alert(data.message);
                        } else {
                            alert("No discount coupon found");
                        }

                    }
                    waitingDialog.hide();
                },
                error: function () {
                    waitingDialog.hide();
                    window.location.reload(true);
                }
            });
        });

        $(".remove-gift-card-button").click(function () {
            var form1 = $("#confirm-order-form");
            var formCollection = form1.serialize();
            var prop = $(this).attr('data-prop');
            var selector = $(this).data('selector');

            console.log(selector);
            waitingDialog.show();
            $.ajax({
                type: 'POST',
                url: 'RemoveGiftCardCode',
                data: { giftCardId: selector, form: formCollection },
                cache: false,
                success: function (data) {
                    //  console.log(data);
                    if (data.success == 1) {
                        window.location.reload(true);
                    } else {
                        if (data.message.length > 0) {
                            alert(data.message);
                        } else {
                            alert("No discount coupon found");
                        }

                    }
                    waitingDialog.hide();
                },
                error: function () {
                    waitingDialog.hide();
                    window.location.reload(true);
                }
            });
        });

        $(".remove-discount-button").click(function () {
            var form1 = $("#confirm-order-form");
            var formCollection = form1.serialize();
            var prop = $(this).attr('data-prop');
            var selector = $(this).data('selector');
            // console.log(prop);
            waitingDialog.show();
            $.ajax({
                type: 'POST',
                url: 'RemoveGiftCardCode',
                cache: false,
                success: function (data) {
                    //  console.log(data);
                    if (data.success == 1) {
                        window.location.reload(true);
                    } else {
                        if (data.message.length > 0) {
                            alert(data.message);
                        } else {
                            alert("No discount coupon found");
                        }

                    }
                    waitingDialog.hide();
                },
                error: function () {
                    waitingDialog.hide();
                    window.location.reload(true);
                }
            });
        });
    });
</script>